{{!-- 
// -----------------------------------------------------------------------------
// -- Generic NodeJS Application: MVC Design
// -- File: ConfigEdit.handlebars
// -- Description:
// -- Author:
// -- Date:
// -- Version: 
// -----------------------------------------------------------------------------
 --}}

<form class="formIndent" method="post" action="/config/edit">
    <input name="id" type="hidden" value="{{ config._id }}" />
    <label>TestManager Config : </label> <input name="testmanager" type="text" value="{{ config.testmanager }}" /><br>
    <label>TestManager Enable : </label> <input name="testmgrenable" type="checkbox" value="testmgrenable" {{#if config.testmgrenable}}checked{{/if}} /><br>
    <label>TestManager Shutdown : </label> <input name="testmgrshutdown" type="checkbox" value="testmgrshutdown" {{#if config.testmgrshutdown}}checked{{/if}} /><br>
    <label>Test Manager Mode : </label> <input name="testmgrmode" type="text" value="{{ config.testmgrmode }}" /><br>
    <label>Test Manager Version : </label> <input name="testmgrversion" type="text" value="{{ config.testmgrversion }}" /><br>
    <label>Build Directory : </label> <input name="builddirectory" type="text" value="{{ config.builddirectory }}" /><br>
    <label>Integration Test Enable : </label> <input name="integrationtest" type="checkbox" value="integrationtest" {{#if config.integrationtest }}checked{{/if}} /><br>
    <label>Development Test Enable : </label> <input name="developmenttest" type="checkbox" value="developmenttest" {{#if config.developmenttest }}checked{{/if}} /><br>
    <label>Test Directory : </label> <input name="testdirectory" type="text" value="{{ config.testdirectory }}" /><br>
    <label>Test Framework Jar : </label> <input name="testframeworkjar" type="text" value="{{ config.testframeworkjar }}" /><br>
    <label>Test XML Template : </label> <input name="testtemplatexml" type="text" value="{{ config.testtemplatexml }}" /><br>
    <label>Platform XML Template : </label> <input name="platformtemplatexml" type="text" value="{{ config.platformtemplatexml }}" /><br>
    <label>Codeload XML Template : </label> <input name="codeloadtemplatexml" type="text" value="{{ config.codeloadtemplatexml }}" /><br>
    <label>Codeload XML : </label> <input name="codeloadxml" type="text" value="{{ config.codeloadxml }}" /><br>
    <label>Disable Code Load : </label> <input name="disablecodeload" type="checkbox" value="disablecodeload" {{#if config.disablecodeload}}checked{{/if}} /><br>
    <label>Disable TestFramework DB : </label> <input name="disabletestframeworkDB" type="checkbox" value="disabletestframeworkDB" {{#if config.disabletestframeworkDB}}checked{{/if}} /><br>
    <label>Use Latest Build : </label> <input name="uselatestbuild" type="checkbox" value="uselatestbuild" {{#if config.uselatestbuild}}checked{{/if}} /><br>
    <label>Build Range : </label> <input name="buildrange" type="text" value="{{ config.buildrange }}" /><br>
    <label>Estimated Test Run Time : </label> <input name="testruntime" type="text" value="{{ config.testruntime }}" /><br>
    <label>Test Manager Loop Delay : </label> <input name="tmgrloopdelay" type="text" value="{{ config.tmgrloopdelay }}" /><br>
    <label>Disable Test : </label> <input name="disabletest" type="checkbox" value="disabletest" {{#if config.disabletest}}checked{{/if}} /><br>  
    <label>Execution Server 1 : </label> <input name="exeserver1" type="text" value="{{ config.exeserver1 }}" /><br>
    <label>Execution Server 2 : </label> <input name="exeserver2" type="text" value="{{ config.exeserver2 }}" /><br>
    <label>Execution Server 3 : </label> <input name="exeserver3" type="text" value="{{ config.exeserver3 }}" /><br>
    <label>Execution Server 4 : </label> <input name="exeserver4" type="text" value="{{ config.exeserver4 }}" /><br>
    <label>Execution Server 1 Enable : </label> <input name="server1enable" type="checkbox" value="server1enable" {{#if config.server1enable}}checked{{/if}} /><br>
    <label>Execution Server 2 Enable : </label> <input name="server2enable" type="checkbox" value="server2enable" {{#if config.server2enable}}checked{{/if}} /><br>
    <label>Execution Server 3 Enable : </label> <input name="server3enable" type="checkbox" value="server3enable" {{#if config.server3enable}}checked{{/if}} /><br>
    <label>Execution Server 4 Enable : </label> <input name="server4enable" type="checkbox" value="server4enable" {{#if config.server4enable}}checked{{/if}} /><br>
    <input type="submit" value="Submit" />
</form>
