{{!-- 
// -----------------------------------------------------------------------------
// -- Generic NodeJS Application: MVC Design
// -- File: Table.handlebars
// -- Description:
// -- Author:
// -- Date:
// -- Version: 
// -----------------------------------------------------------------------------
 --}}


{{!-- -------------------------------------------------------------------- --}}
{{!-- Header --}}
{{!--<BR> --}}


<head>
  <title>{{title}}</title>
</head>

{{!-- -------------------------------------------------------------------- --}}
{{!-- Table : Header --}}

<body> 
  <div class="tabletitles" style="height:600px;overflow:auto;" >
    <table class="sortable" id="table" >
    <BR>
    <tr> 
      <th width="7%">RunID</th> 
      <th width="13%">Date</th> 
      <th width="4%">Prod</th>
      <th width="24%">Test</th>   
      <th width="8%">Pass/Fail</th>
      <th width="8%">Version</th>   
      <th width="10%">Printer</th>   
      <th width="8%">Test Code</th>       
      <th width="9%">Report</th>  
      <th width="9%">Details</th>  
    </tr>

    {{!-- -------------------------------------------------------------------- --}}
    {{!-- Table : Content --}}

    {{#each table}}
      <tr align="center"> 
        <td>{{run}}</td> 
        <td>{{date}}</td>  
        <td>{{product}}</td> 
        <td>{{ttype}}</td> 
        {{!-- <td>{{status}}</td> --}} 
        <td> <span class="status" style="color:{{getStatusColor status}}"><strong>{{status}}</strong></span></td>
        <td>{{version}}</td> 
        <td>{{printer}}</td> 
        <td>{{testcode}}</td> 
        <td><a href="/Reports/Report-{{run}}.txt" target="_blank" > Report </a> </td>
        <td><a href="/Log/Run_{{run}}/dbg.log" target="_blank" > Log </a> </td>
      </tr>
    {{/each}}
    </table>
  </div>
</body>

