{{!-- 
// -----------------------------------------------------------------------------
// -- Generic NodeJS Application: MVC Design
// -- File: table : Index.handlebars
// -- Description:
// -- Author:
// -- Date:
// -- Version: 
// -----------------------------------------------------------------------------
 --}}

<head>
<title>{{ title }}</title>
</head>

<br>
<br>

<div id="generic-image111">
      <img class="graphImage" src="/img/SiteUnderConstruction.jpg" alt="Image failed to render !!!">
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<h1 class="indentTextBold">Report {{title}}</h1>
<ul>

  <div class="tabletitles" style="height:600px;overflow:auto;" >
    <table class="sortable" id="tabletable" >
    <BR>

    <tr> 
      <th width="5%">RunID</th> 
      <th width="5%">Date</th> 
      <th width="5%">Product</th>
      <th width="15%">Suite Name</th> 
      <th width="5%">Results</th> 
      <th width="5%">ET</th> 
      <th width="15%">Code Version</th> 
      <th width="10%">Printer</th>  
      <th width="15%">Test Code</th>  
      <th width="5%">Report</th>    
      <th width="5%">Log</th>    
      <th width="5%">Edit</th>    
    </tr>

    {{#each table}}
      <tr align="left"> 
        <td>{{RUNID}}</td>
        <td>{{DATE}}</td> 
        <td>{{PRODUCT}}</td>  
        <td>{{SUITENAME}}</td> 
        <td> <span class="status" style="color:{{getStatusColorTable RESULTS}}"><strong>{{RESULTS}}</strong></span></td>
        <td>{{ET}}</td> 
        <td>{{CODEVERSION}}</td> 
        <td>{{PRINTER}}</td> 
        <td>{{TESTCODE}}</td> 
        <td><a href="Reports/{{REPORT}}" target="_blank" > Report </a> </td>
        <td><a href="{{LOG}}" target="_blank" > Log </a> </td>
        <td>
            <a href="/table/delete/{{ _id }}" onclick="return confirm('Are you sure?')">Delete</a>
        </td> 
      </tr>
    {{/each}}
    </table>
  </div>
