{{!-- 
// -----------------------------------------------------------------------------
// -- Generic NodeJS Application: MVC Design
// -- File: status : Index.handlebars
// -- Description:
// -- Author:
// -- Date:
// -- Version: 
// -----------------------------------------------------------------------------
 --}}

<h1 class="indentTextBold">{{title}}</h1>

<br>
<br>

<div id="generic-image111">
      <img class="graphImage" src="/img/SiteUnderConstruction.jpg" alt="Image failed to render !!!">
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="tabletitles" >
    <table class="sortable" id="configtable" >
      <BR>
      <tr> 
        <th width="30%">Parameter</th> 
        <th width="70%">Value</th>
      </tr>

      {{#each status}}
        <tr align="left"> <td>Server Status : </td> <td>{{serverstatus}}</td> </tr>
        <tr align="left"> <td>Network Status : </td> <td>{{networkstatus}}</td> </tr>
        <tr align="left"> <td>Test Manager Status : </td> <td>{{testmanagerstatus}}</td> </tr>
        <tr align="left"> <td>Test Framework Status : </td> <td>{{testframeworkstatus}}</td> </tr>
        <tr align="left"> <td>Database Status : </td> <td>{{databasestatus}}</td> </tr>
        <tr align="left"> <td>Target 1 Status : </td> <td>{{target1status}}</td> </tr>
        <tr align="left"> <td>Target 2 Status : </td> <td>{{target2status}}</td> </tr>
        <tr align="left"> <td>Target 3 Status : </td> <td>{{target3status}}</td> </tr>
        <tr align="left"> <td>Target 4 Status : </td> <td>{{target4status}}</td> </tr>
        <tr align="left"> <td>Target 5 Status : </td> <td>{{target5status}}</td> </tr>
        <tr align="left"> <td>Placeholder1 : </td> <td>{{placeholder1status}}</td> </tr>
        <tr align="left"> <td>Placeholder2 : </td> <td>{{placeholder2status}}</td> </tr>
        <tr align="left"> <td>Placeholder3 : </td> <td>{{placeholder3status}}</td> </tr>
        <tr align="left"> <td>Placeholder4 : </td> <td>{{placeholder4status}}</td> </tr>
        <tr align="left"> <td>Placeholder5 : </td> <td>{{placeholder5status}}</td> </tr>    
      {{/each}}
    </table>
</div>


